﻿.beguede-container-fluid {
    width: 100%;
    padding-top: 15px;
    padding-right: 15px;
    padding-left: 15px;
    margin-top: auto;
    margin-right: auto;
    margin-left: auto;
}

.beguede-row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.beguede-right {
    text-align: right;
}

.beguede-width-100 {
    width: 100%;
}

.beguede-btn-warning {
    color: #fff;
    background-color: #ffc107;
    border-color: #ffc107;
}

    .beguede-btn-warning:hover {
        color: #fff;
        background-color: #e0a800;
        border-color: #d39e00;
    }

.beguede-btn-right {
    text-align: right;
    margin-top: 20px;
}

.beguede-required {
    color: darkred;
}

.beguede-inline-table {
    display: inline-table;
}

.beguede-bc-white {
    background-color: #ffffff;
}

.beguede-button-filter {
    text-align: right;
    align-self: center;
}
