﻿@{
    ViewBag.Title = "Home Page";
}


<!--/preloader-->
<div id="preloader">
    <div id="preloader-inner"></div>
</div>

<!--navbar-->
<nav class="navbar navbar-expand-lg navbar-light bg-faded navbar-sticky navbar-transparent">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarevent" aria-controls="navbarevent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">
        <img src="images/logo-light.png" alt="" class="logo-first">
    </a>
    <div class="collapse navbar-collapse" id="navbarevent">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link active" data-scroll href="#home">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-scroll href="#about">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-scroll href="#speakers">Speakers</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-scroll href="#schedule">Schedule</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-scroll href="#pricing">Pricing</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-scroll href="#sponsors">Sponsors</a>
            </li>
            <li class="nav-item">
                <a class="nav-link btn btn-primary" href="#" data-toggle="modal" data-target="#ticketsModal">Register Now</a>
            </li>
        </ul>
    </div>
</nav>

<!--home-->
<div id="home" class="fullscreen-hero bg-overlay bg-parallax" data-jarallax='{"speed": 0.4}' style='background-image: url("images/event/bg4.jpg")'>
    <div class="hero-content">
        <div class="hero-inner">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 text-center mr-auto ml-auto">
                        <h5 class="text-white font700">A huge conference about online product marketing</h5>
                        <h5 class="font700 mb20 text-white display-3 text-uppercase">Web Conference</h5>
                        <p class="text-white-gray mb30 lead">
                            Join us from 02 November - 04 November 2017<br>
                            LOCATION -  Opera house, Sydney, Australia
                        </p>
                        <div class="social-buttons">
                            <a data-scroll href="#pricing" class="btn btn-lg btn-primary btn-rounded mr-3">Booking Open</a>
                            <a data-scroll href="https://www.youtube.com/watch?v=_xAklPmvnqo" class="btn btn-link modal-video"><i class="fa fa-play"></i> Watch film</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--about-->
<div id="about">
    <div class="half-image-content">
        <div class="content-img bg-parallax pos-left hidden-md-down" data-jarallax='{"speed": 0.2}' style="background:url(images/event/about.jpg) no-repeat;">
        </div>
        <img src="images/event/about.jpg" class="visible-lg-down hidden-lg-up img-fluid" alt="">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 ml-auto  pt80 pb80">
                    <h2 class="mb20">
                        About the conference
                    </h2>
                    <div class="clearfix">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        </p>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        </p><br>
                        <h5 class="font700">Conference will start in</h5>
                        <div class="count-down text-white" data-end-date="Jan 1, 2018 00:00:00"></div>
                        <a href="#schedule" data-scroll class="btn btn-primary mr-3 mb-2">View Schedule</a>
                        <a href="#pricing" data-scroll class="btn btn-dark mr-3 mb-2">Pricing</a>
                    </div>
                </div>
            </div>
        </div>
    </div><!--half image section-->
</div>

<!--Speakers-->
<div id="speakers" class="pt90 pb60 bg-faded">
    <div class="container">
        <div class="center-title mb60 text-center">
            <h2>Our Speakers</h2>
            <p>Meet the leaders</p>
        </div>
        <div class="row">
            <div class="col-md-4 mb30">
                <div class="speaker-card">
                    <img src="images/team1.jpg" alt="" class="img-fluid">
                    <div class="team-overlay align-items-center">
                        <div class="team-detail">
                            <h4>Emily Doe</h4>
                            <span>Marketing manager</span>
                            <div class="seprator-overlay"></div>
                            <ul class="list-inline">
                                <li class="list-inline-item">
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="#"> <i class="fa fa-youtube"></i></a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="#"><i class="fa fa-instagram"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div><!--/col-->
            <div class="col-md-4 mb30">
                <div class="speaker-card">
                    <img src="images/team2.jpg" alt="" class="img-fluid">
                    <div class="team-overlay align-items-center">
                        <div class="team-detail">
                            <h4>Nathan Musa</h4>
                            <span>Marketing manager</span>
                            <div class="seprator-overlay"></div>
                            <ul class="list-inline">
                                <li class="list-inline-item">
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="#"> <i class="fa fa-youtube"></i></a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="#"><i class="fa fa-instagram"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div><!--/col-->
            <div class="col-md-4 mb30">
                <div class="speaker-card">
                    <img src="images/team3.jpg" alt="" class="img-fluid">
                    <div class="team-overlay align-items-center">
                        <div class="team-detail">
                            <h4>Adam Howkins</h4>
                            <span>Marketing manager</span>
                            <div class="seprator-overlay"></div>
                            <ul class="list-inline">
                                <li class="list-inline-item">
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="#"> <i class="fa fa-youtube"></i></a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="#"><i class="fa fa-instagram"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div><!--/col-->
        </div>
    </div>
</div>

<!--facts-->
<div class="pt100 pb70 parallax-overlay bg-parallax" data-jarallax='{"speed": 0.4}' style='background-image: url("images/event/bg1.jpg")'>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-3 mb30 text-center">
                <i class="ti-bookmark-alt text-white fa-2x"></i>
                <h2 class="text-white display-4">230</h2>
                <p class="text-white-gray h4 font700">Topics</p>
            </div><!--/.col-->
            <div class="col-md-6 col-lg-3 mb30 text-center">
                <i class="ti-user text-white fa-2x"></i>
                <h2 class="text-white display-4">14</h2>
                <p class="text-white-gray h4 font700">Speakers</p>
            </div><!--/.col-->
            <div class="col-md-6 col-lg-3 mb30 text-center">
                <i class="ti-flag text-white fa-2x"></i>
                <h2 class="text-white display-4">54</h2>
                <p class="text-white-gray h4 font700">Sponsors</p>
            </div><!--/.col-->
            <div class="col-md-6 col-lg-3 mb30 text-center">
                <i class="ti-world text-white fa-2x"></i>
                <h2 class="text-white display-4">39</h2>
                <p class="text-white-gray h4 font700">Countries</p>
            </div><!--/.col-->
        </div>
    </div>
</div>

<!--Schedule-->
<div id="schedule" class="pt90 pb90">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 mr-auto ml-auto text-center">
                <div class="center-title mb60">
                    <h2>Event Schedule</h2>
                    <p class="lead">
                        02 - 04 November 2016.
                    </p>
                </div>
            </div>
        </div>
        <div class="row margin-b-30">
            <div class="col-md-10 mr-auto ml-auto">
                <div>
                    <!-- Nav tabs -->
                    <ul class="nav tabs-schedule nav-tabs list-inline" role="tablist">
                        <li role="presentation" class="nav-item"><a class="nav-link active" href="#01" aria-controls="01" role="tab" data-toggle="tab">Day 1 <span>1 November 2016</span></a></li>
                        <li role="presentation" class="nav-item"><a class="nav-link" href="#02" aria-controls="02" role="tab" data-toggle="tab">Day 2 <span>2 November 2016</span></a></li>
                        <li role="presentation" class="nav-item"><a class="nav-link" href="#03" aria-controls="03" role="tab" data-toggle="tab">Day 3 <span>3 November 2016</span></a></li>
                    </ul>
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane fade active show" id="01">
                            <div class="row margin-b-30">
                                <div class="col-sm-3 event-info">
                                    <span>Monday</span>
                                    <span>9:00 AM to 10:45 AM</span>
                                    <span class="event-hall">Basement R1</span>
                                </div>
                                <div class="col-sm-9 event-detail">
                                    <h3><a href="#">Introducing bootstrap4 features</a></h3>
                                    <div class="row margin-b-20">
                                        <div class="col-sm-2">
                                            <img src="images/team1.jpg" alt="" class="img-fluid">
                                        </div>
                                        <div class="col-sm-10">
                                            <h4>Nikita Miller</h4>
                                            <p>
                                                But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings, the master-builder of human happiness
                                            </p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-2">
                                            <img src="images/team2.jpg" alt="" class="img-fluid">
                                        </div>
                                        <div class="col-sm-10">
                                            <h4>Johathan Doe</h4>
                                            <p>
                                                But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings, the master-builder of human happiness
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row margin-b-30">
                                <div class="col-sm-3 event-info">
                                    <span>Monday</span>
                                    <span>11:00 AM to 11:45 AM</span>
                                    <span class="event-hall">Basement R1</span>
                                </div>
                                <div class="col-sm-9 event-detail">
                                    <h3><a href="#">Roadmap about bootstrap updates</a></h3>
                                    <div class="row">
                                        <div class="col-sm-2">
                                            <img src="images/team4.jpg" alt="" class="img-fluid">
                                        </div>
                                        <div class="col-sm-10">
                                            <h4>Robert</h4>
                                            <p>
                                                But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings, the master-builder of human happiness
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row margin-b-30" style="opacity: 0.7;">
                                <div class="col-sm-3 event-info">
                                    <span>Monday</span>
                                    <span>1:00 AM to 2:00 AM</span>
                                    <span class="event-hall">Fulkari Restaurant</span>
                                </div>
                                <div class="col-sm-9 event-detail">
                                    <h3><a href="#">lunch</a></h3>
                                    <p>
                                        But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings, the master-builder of human happiness
                                    </p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-3 event-info">
                                    <span>Monday</span>
                                    <span>2:00 AM to 4:30 AM</span>
                                    <span class="event-hall">Basement R1</span>
                                </div>
                                <div class="col-sm-9 event-detail">
                                    <h3><a href="#">Bootstrap with AngularJs</a></h3>
                                    <div class="row">
                                        <div class="col-sm-2">
                                            <img src="images/team4.jpg" alt="" class="img-fluid">
                                        </div>
                                        <div class="col-sm-10">
                                            <h4>Smitha Doe</h4>
                                            <p>
                                                But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings, the master-builder of human happiness
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="02">
                            <div class="row margin-b-30">
                                <div class="col-sm-3 event-info">
                                    <span>Monday</span>
                                    <span>9:00 AM to 10:45 AM</span>
                                    <span class="event-hall">Basement R1</span>
                                </div>
                                <div class="col-sm-9 event-detail">
                                    <h3><a href="#">Introducing bootstrap4 features</a></h3>
                                    <div class="row margin-b-20">
                                        <div class="col-sm-2">
                                            <img src="images/team1.jpg" alt="" class="img-fluid">
                                        </div>
                                        <div class="col-sm-10">
                                            <h4>Nikita Miller</h4>
                                            <p>
                                                But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings, the master-builder of human happiness
                                            </p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-2">
                                            <img src="images/team2.jpg" alt="" class="img-fluid">
                                        </div>
                                        <div class="col-sm-10">
                                            <h4>Johathan Doe</h4>
                                            <p>
                                                But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings, the master-builder of human happiness
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row margin-b-30">
                                <div class="col-sm-3 event-info">
                                    <span>Monday</span>
                                    <span>11:00 AM to 11:45 AM</span>
                                    <span class="event-hall">Basement R1</span>
                                </div>
                                <div class="col-sm-9 event-detail">
                                    <h3><a href="#">Roadmap about bootstrap updates</a></h3>
                                    <div class="row">
                                        <div class="col-sm-2">
                                            <img src="images/team4.jpg" alt="" class="img-fluid">
                                        </div>
                                        <div class="col-sm-10">
                                            <h4>Robert</h4>
                                            <p>
                                                But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings, the master-builder of human happiness
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row margin-b-30" style="opacity: 0.7;">
                                <div class="col-sm-3 event-info">
                                    <span>Monday</span>
                                    <span>1:00 AM to 2:00 AM</span>
                                    <span class="event-hall">Fulkari Restaurant</span>
                                </div>
                                <div class="col-sm-9 event-detail">
                                    <h3><a href="#">lunch</a></h3>
                                    <p>
                                        But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings, the master-builder of human happiness
                                    </p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-3 event-info">
                                    <span>Monday</span>
                                    <span>2:00 AM to 4:30 AM</span>
                                    <span class="event-hall">Basement R1</span>
                                </div>
                                <div class="col-sm-9 event-detail">
                                    <h3><a href="#">Bootstrap with AngularJs</a></h3>
                                    <div class="row">
                                        <div class="col-sm-2">
                                            <img src="images/team4.jpg" alt="" class="img-fluid">
                                        </div>
                                        <div class="col-sm-10">
                                            <h4>Smitha Doe</h4>
                                            <p>
                                                But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings, the master-builder of human happiness
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane fade " id="03">
                            <div class="row margin-b-30">
                                <div class="col-sm-3 event-info">
                                    <span>Wednesday</span>
                                    <span>9:00 AM to 10:45 AM</span>
                                    <span class="event-hall">Basement R1</span>
                                </div>
                                <div class="col-sm-9 event-detail">
                                    <h3><a href="#">Lorem ipsum dolor sit amet</a></h3>
                                    <div class="row margin-b-20">
                                        <div class="col-sm-2">
                                            <img src="images/team5.jpg" alt="" class="img-fluid">
                                        </div>
                                        <div class="col-sm-10">
                                            <h4>John Miller</h4>
                                            <p>
                                                But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings, the master-builder of human happiness
                                            </p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-2">
                                            <img src="images/team6.jpg" alt="" class="img-fluid">
                                        </div>
                                        <div class="col-sm-10">
                                            <h4>Adam Doe</h4>
                                            <p>
                                                But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings, the master-builder of human happiness
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row margin-b-30">
                                <div class="col-sm-3 event-info">
                                    <span>Wednesday</span>
                                    <span>11:00 AM to 11:45 AM</span>
                                    <span class="event-hall">Basement R1</span>
                                </div>
                                <div class="col-sm-9 event-detail">
                                    <h3><a href="#">Roadmap about bootstrap updates</a></h3>
                                    <div class="row">
                                        <div class="col-sm-2">
                                            <img src="images/team4.jpg" alt="" class="img-fluid">
                                        </div>
                                        <div class="col-sm-10">
                                            <h4>Robert</h4>
                                            <p>
                                                But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings, the master-builder of human happiness
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row margin-b-30" style="opacity: 0.7;">
                                <div class="col-sm-3 event-info">
                                    <span>Wednesday</span>
                                    <span>1:00 AM to 2:00 AM</span>
                                    <span class="event-hall">Fulkari Restaurant</span>
                                </div>
                                <div class="col-sm-9 event-detail">
                                    <h3><a href="#">lunch</a></h3>
                                    <p>
                                        But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings, the master-builder of human happiness
                                    </p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-3 event-info">
                                    <span>Wednesday</span>
                                    <span>2:00 AM to 4:30 AM</span>
                                    <span class="event-hall">Basement R1</span>
                                </div>
                                <div class="col-sm-9 event-detail">
                                    <h3><a href="#">Closing ceremony</a></h3>
                                    <div class="row">
                                        <div class="col-sm-2">
                                            <img src="images/team4.jpg" alt="" class="img-fluid">
                                        </div>
                                        <div class="col-sm-10">
                                            <h4>Smitha Doe</h4>
                                            <p>
                                                But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings, the master-builder of human happiness
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--newsletter-->
<div class="pt100 pb70 parallax-overlay bg-parallax" data-jarallax='{"speed": 0.4}' style='background-image: url("images/event/bg3.jpg")'>
    <div class="container">
        <div class="row newsletter-row">
            <div class="col-lg-10 mr-auto m-auto mb30 text-center">
                <div class="center-title mb60 text-center">
                    <h2 class="text-white">Subscribe to our newsletter</h2>
                    <p class="text-white-gray">Subscribe to our newsletter and get all benefits of this conference.</p>
                </div>
                <form>
                    <div class="row">
                        <div class="col-md-4">
                            <input type="text" class="form-control" placeholder="Name" required="">
                        </div>
                        <div class="col-md-4">
                            <input type="email" class="form-control" placeholder="Email" required="">
                        </div>
                        <div class="col-md-4">
                            <button type="submit" class="btn btn-primary btn-block btn-rounded">Subscribe</button>
                        </div>
                    </div>

                    <div class="text-center pt20">
                        <label class="custom-control custom-checkbox mb-2 mr-sm-2 mb-sm-0">
                            <input type="checkbox" class="custom-control-input">
                            <span class="custom-control-indicator"></span>
                            <span class="custom-control-description text-white">Accept our <a href="#" class="text-white">terms &amp; conditions</a></span>
                        </label>
                    </div>
                </form>
            </div><!--/.col-->
        </div><!--/.row-->
    </div>
</div>

<div class="bg-dark pt90 pb60" id="pricing">
    <div class="container">
        <div class="center-title mb60 text-center">
            <h2 class="text-white">Ticket pricing</h2>
            <p class="text-white-gray">Easy pricing. Cancel anytime.</p>
        </div>
        <div class="row">
            <div class="pricing-table  align-items-center">
                <div class="col-lg-3 col-md-6 plan">
                    <div class="plan-header">
                        <h4>Bronze pass</h4>
                        <h1 class="text-info">$99.99 <small>/ 1 Seat</small></h1>
                        <h6>Front View</h6>
                    </div>
                    <a href="#" class="btn btn-secondary btn-lg btn-block">Book Now</a>
                    <ul class="list-unstyled">
                        <li><i class="fa fa-check-circle-o"></i> <strong>5Gb</strong> Disk Space</li>
                        <li><i class="fa fa-check-circle-o"></i> <strong>50Gb</strong> Monthly Bandwdith</li>
                        <li><i class="fa fa-check-circle-o"></i> <strong>10</strong> Email Accounts</li>
                        <li><i class="fa fa-check-circle-o"></i> <strong>Unlimited</strong> Sub domains</li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-6 plan popular-plan">
                    <div class="plan-header">
                        <div class="mb30"><span class="badge badge-primary">Best Value</span></div>
                        <h4>Silver Pass</h4>
                        <h1 class="text-primary">$199.99 <small>/ Seat</small></h1>
                        <h6>Middle view</h6>
                    </div>
                    <a href="#" class="btn btn-primary btn-lg btn-block">Book Now</a>
                    <ul class="list-unstyled">
                        <li><i class="fa fa-check-circle-o"></i> <strong>5Gb</strong> Disk Space</li>
                        <li><i class="fa fa-check-circle-o"></i> <strong>50Gb</strong> Monthly Bandwdith</li>
                        <li><i class="fa fa-check-circle-o"></i> <strong>10</strong> Email Accounts</li>
                        <li><i class="fa fa-check-circle-o"></i> <strong>Unlimited</strong> Sub domains</li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-6 plan">
                    <div class="plan-header">
                        <h4>Golden pass</h4>
                        <h1 class="text-info">$299.99 <small>/ 1 seat</small></h1>
                        <h6>All benefits</h6>
                    </div>
                    <a href="#" class="btn btn-secondary btn-lg btn-block">Book Now</a>
                    <ul class="list-unstyled">
                        <li><i class="fa fa-check-circle-o"></i> <strong>500Gb</strong> Disk Space</li>
                        <li><i class="fa fa-check-circle-o"></i> <strong>50Gb</strong> Monthly Bandwdith</li>
                        <li><i class="fa fa-check-circle-o"></i> <strong>Unlimited</strong> Email Accounts</li>
                        <li><i class="fa fa-check-circle-o"></i> <strong>Unlimited</strong> Sub domains</li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-6 plan">
                    <div class="plan-header">
                        <h4>VIP pass</h4>
                        <h1 class="text-info">$399.99 <small>/ 1 seat</small></h1>
                        <h6>All benefits</h6>
                    </div>
                    <a href="#" class="btn btn-secondary btn-lg btn-block">Book Now</a>
                    <ul class="list-unstyled">
                        <li><i class="fa fa-check-circle-o"></i> <strong>5Gb</strong> Disk Space</li>
                        <li><i class="fa fa-check-circle-o"></i> <strong>50Gb</strong> Monthly Bandwdith</li>
                        <li><i class="fa fa-check-circle-o"></i> <strong>10</strong> Email Accounts</li>
                        <li><i class="fa fa-check-circle-o"></i> <strong>Unlimited</strong> Sub domains</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<!--facilities-->
<div class="container pt90 pb60">
    <div class="center-title mb60 text-center">
        <h2>Event facilities</h2>
        <p>What we provide our conference attenders.</p>
    </div>
    <div class="row">
        <div class="col-md-4 mb30 text-center">
            <i class="fa fa-plane fa-3x text-primary mb20"></i>
            <h4>Travel</h4>
            <p>
                But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system.
            </p>
        </div>
        <div class="col-md-4 mb30 text-center">
            <i class="fa fa-bed fa-3x text-primary mb20"></i>
            <h4>Hotel Rooms</h4>
            <p>
                But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system.
            </p>
        </div>
        <div class="col-md-4 mb30 text-center">
            <i class="fa fa-spoon fa-3x text-primary mb20"></i>
            <h4>Lunch & dinner</h4>
            <p>
                But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system.
            </p>
        </div>
    </div>
</div>

<!--sponsors-->
<div class="bg-faded">
    <div id="sponsors" class="pt90 pb90">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 mr-auto ml-auto text-center">
                    <div class="center-title mb60">
                        <h2>Our Sponsors</h2>
                        <p>Companies that support us</p>
                    </div>
                </div>
            </div>
            <div class="row sponsors-row">
                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-6">
                    <a href="#">
                        <img src="images/partner1.png" alt="" class="img-fluid">
                    </a>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-6">
                    <a href="#">
                        <img src="images/partner2.png" alt="" class="img-fluid">
                    </a>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-6">
                    <a href="#">
                        <img src="images/partner3.png" alt="" class="img-fluid">
                    </a>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-6">
                    <a href="#">
                        <img src="images/partner4.png" alt="" class="img-fluid">
                    </a>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-6">
                    <a href="#">
                        <img src="images/partner5.png" alt="" class="img-fluid">
                    </a>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-6">
                    <a href="#">
                        <img src="images/partner1.png" alt="" class="img-fluid">
                    </a>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-6">
                    <a href="#">
                        <img src="images/partner2.png" alt="" class="img-fluid">
                    </a>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-6">
                    <a href="#">
                        <img src="images/partner5.png" alt="" class="img-fluid">
                    </a>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-6">
                    <a href="#">
                        <img src="images/partner4.png" alt="" class="img-fluid">
                    </a>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-6">
                    <a href="#">
                        <img src="images/partner3.png" alt="" class="img-fluid">
                    </a>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-6">
                    <a href="#">
                        <img src="images/partner1.png" alt="" class="img-fluid">
                    </a>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-6">
                    <a href="#">
                        <img src="images/partner2.png" alt="" class="img-fluid">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Map-->
<div id="markermap" style="width: 100%;height: 350px;"></div>

<!--footer-->
<footer class="footer bg-dark">
    <div class="container pt60 pb30">
        <div class="row">
            <div class="col-lg-4 mb30">
                <img src="images/logo-light.png" alt="" class="img-fluid mb20">
                <p class="text-white-gray mb30">
                    But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system.
                </p>
                <div class="cleafix">
                    <a href="#" class="social-icon si-dark si-colored-facebook">
                        <i class="fa fa-facebook"></i>
                        <i class="fa fa-facebook"></i>
                    </a>
                    <a href="#" class="social-icon  si-dark si-colored-twitter">
                        <i class="fa fa-twitter"></i>
                        <i class="fa fa-twitter"></i>
                    </a>
                    <a href="#" class="social-icon si-dark si-colored-google-plus">
                        <i class="fa fa-google-plus"></i>
                        <i class="fa fa-google-plus"></i>
                    </a>
                    <a href="#" class="social-icon si-dark si-colored-skype">
                        <i class="fa fa-skype"></i>
                        <i class="fa fa-skype"></i>
                    </a>
                    <a href="#" class="social-icon si-dark si-colored-linkedin">
                        <i class="fa fa-linkedin"></i>
                        <i class="fa fa-linkedin"></i>
                    </a>
                </div>
            </div><!--/col-->
            <div class="col-lg-4 mb30">
                <h4 class="text-white mb20">Instagram <span class="badge bg-primary text-white"><i class="fa fa-thumbs-up"></i> 40.4K</span></h4>
                <div class="insta-post">
                    <a href="#">
                        <img src="images/img1.jpg" alt="" class="img-fluid">
                    </a>
                    <a href="#">
                        <img src="images/img2.jpg" alt="" class="img-fluid">
                    </a>
                    <a href="#">
                        <img src="images/img3.jpg" alt="" class="img-fluid">
                    </a>
                    <a href="#">
                        <img src="images/img4.jpg" alt="" class="img-fluid">
                    </a>
                    <a href="#">
                        <img src="images/img5.jpg" alt="" class="img-fluid">
                    </a>
                    <a href="#">
                        <img src="images/img6.jpg" alt="" class="img-fluid">
                    </a>
                </div>
            </div><!--/col-->
            <div class="col-lg-4 mb30">
                <h4 class="text-white mb20">Useful Tags</h4>
                <div class="tags-post">
                    <a href="#">
                        bootstrap
                    </a>
                    <a href="#">
                        html
                    </a>
                    <a href="#">
                        jquery
                    </a>
                    <a href="#">
                        template
                    </a>
                    <a href="#">
                        journal
                    </a>
                    <a href="#">
                        web app
                    </a>
                </div>
            </div><!--/col-->
        </div>
    </div>
    <div class="container text-center pt30 pb60">
        <span class="text-white-gray">&copy; Copyright 2017. All right reserved.</span>
    </div>
</footer>

<!--register modal-->
<!-- Modal -->
<div class="modal fade modal-event-form" id="ticketsModal" tabindex="-1" role="dialog" aria-labelledby="ticketsModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title h4" id="exampleModalLabel">Register for conference</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><i class="ti-close"></i></span>
                </button>
            </div>
            <form>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12 mb10">
                            <input type="text" class="form-control" placeholder="Name" required="">
                        </div>
                        <div class="col-md-12 mb10">
                            <input type="text" class="form-control" placeholder="Email address" required="">
                        </div>
                        <div class="col-md-12 mb10">
                            <input type="text" class="form-control" placeholder="Phone" required="">
                        </div>
                        <div class="col-md-12 mb10">
                            <select class="form-control" required="">
                                <option value="">Number of Seats</option>
                                <option value="1">1 Seat</option>
                                <option value="2">2 Seats</option>
                                <option value="3">3 Seats</option>
                                <option value="4">4 Seats</option>
                                <option value="5">5 Seats</option>
                            </select>
                        </div>
                        <div class="col-md-12 mb10">
                            <select class="form-control" required="">
                                <option value="">Select a Pass</option>
                                <option value="1">Bronze pass - 99$/1 seat</option>
                                <option value="2">Silver pass - 199$/1 seat</option>
                                <option value="3">Gold pass - 299$/1 seat</option>
                                <option value="4">VIP pass - 399$/1 seat</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary btn-block">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>