﻿@model IEnumerable<Vacilometro.Models.Timeline>

@{
    Layout = null;
    int count = 0;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Vacilos</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css'>

    <link rel="stylesheet" href="~/Content/double-vertical-timeline.css">

</head>
<body>
    <header>
        <div class="container">
            <img src="~/Images/vacilomentro.svg" alt="Vacilometro" width="300">
        </div>
    </header>

    <br><br>

    <section id="timeline-wrapper">
        <div class="container-fluid">
            <div class="row">
                @foreach (var item in Model)
                {
                    <div class="timeline-top">
                        <div class="top-year"><span>@item.Ano</span></div>
                    </div>

                    <div class="timeline-block">
                        <div class="timeline-events">
                            <br>
                            @foreach (var vacilo in item.Vacilos)
                            {
                                { count = count + 1; }
                                <div class="event @((count % 2 == 0) ? "l-event" : "r-event") col-md-6 col-sm-6 col-xs-8 ">
                                    <span class="thumb fa fa-codepen"></span>
                                    <div class="event-body @((count % 2 == 0) ? "shadow-l-event" : "shadow-r-event")">
                                        <div class="person-image pull-left ">
                                            @{
                                                var absolutePath = System.Web.HttpContext.Current.Server.MapPath("~/" + "Images/Avatar/" + vacilo.Usuario.Id.ToString() + ".jpg");

                                                if (System.IO.File.Exists(absolutePath))
                                                {
                                                    <img src="@Url.Content("~/Images/Avatar/" + vacilo.Usuario.Id.ToString() + ".jpg")" alt="person" style="border-radius: 50%;" />
                                                }
                                                else
                                                {
                                                    if (vacilo.Usuario.Genero.Id == new Guid("3ff1ea0d-3755-4cab-b1f9-9f865494503d"))
                                                    {
                                                        <img src="https://cdn1.iconfinder.com/data/icons/user-pictures/100/male3-512.png" alt="person" />
                                                    }
                                                    else
                                                    {
                                                        <img src="https://cdn1.iconfinder.com/data/icons/user-pictures/100/girl-512.png" alt="person" />
                                                    }
                                                }
                                            }
                                            @*https://avachara.com/avatar/ | https://avatarmaker.com | https://github.com/mgibas/avatarator*@
                                        </div>
                                        <div class="event-content">
                                            <h5 class="text-primary text-left">@vacilo.Usuario.Nome - @vacilo.Usuario.Empresa.Nome </h5>
                                            <span class="text-muted text-left" style="display:block; margin: 0"><small>@vacilo.Data</small></span>
                                            <br><br>
                                            <blockquote class="text-muted text-left">
                                                @vacilo.Frase
                                            </blockquote>
                                        </div>
                                    </div>
                                    <div class="clear-fix"></div>
                                </div>

                                <div class="row"></div>
                            }
                        </div>
                    </div>
                }
            </div>
        </div>
    </section>

    <br /><hr />

    <footer class="text-center">
        <div class="social">
            Follow Me:
            <a target="_blank" href="http://codepen.io/hosamsam/">
                <abbr title="Codepen"><i class="fa fa-codepen follow"></i></abbr>
            </a>
            <a href="https://www.behance.net/mosh3ref_2bcaa" target="_blank">
                <abbr title="Behance"><i class="fa fa-behance"></i></abbr></i>
            </a>
            <a href="https://github.com/hosamsam"><abbr title="Github" target="_blank"><i class="fa fa-github "></i></abbr></a>
        </div>
    </footer>

    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.0/TweenMax.min.js'></script>
    <script src="~/Scripts/double-vertical-timeline.js"></script>
</body>
</html>

function url_exists($url) {

    $ch = curl_init($url);
    curl_setopt($ch, CURLOPT_NOBODY, true);
    curl_exec($ch);
    $code = curl_getinfo($ch, CURLINFO_HTTP_CODE);
    curl_close($ch);

    return ($code == 200); // verifica se recebe "status OK"
}