﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Vacilômetro</title>

    @Styles.Render("~/Content/classic")
    @Styles.Render("~/Content/beguede")
    @Styles.Render("~/Content/timeline")

</head>
<body data-spy="scroll" data-offset="58" data-target="#navbarevent">

    @RenderBody()

    <!--back to top  -->
    <a href="#" class="back-to-top hidden-xs-down" id="back-to-top"><i class="ti-angle-up"></i></a>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/classic")
    @Scripts.Render("~/bundles/timeline")
    @*@Scripts.Render("~/bundles/inputmask")*@
    @*@Scripts.Render("~/bundles/moneymask")*@

    @RenderSection("styles", required: false)
    @RenderSection("scripts", required: false)

</body>
</html>
